/* rwdindex.css */

@media screen and (max-width: 960px) {
  h2 {
    font-size: 34px;
  }
  /* header ================================= */

  #header {
    position: fixed;
  }

  #header .header_nav {
    display: none;
    transition: none;
  }

  #header.active .header_nav {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #header.active .header_nav {
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1);
  }

  #header.active .header_navline {
    display: none;
  }

  #header .header_info {
    display: none;
  }

  #header .header_logo .header_logoAd {
    display: none;
  }

  #header .header_nav::before {
    display: none;
  }

  #header .depth_01 {
    flex-direction: column;
  }

  #header .depth_01 > li > a {
    justify-content: flex-start;
  }

  #header .depth_01 .header_nav_mainmenu {
    padding: 0 36px;
  }

  #header .depth_01 .header_nav_mainmenu.active {
    background-color: rgba(0, 155, 240, 0.05);
  }

  #header .depth_01 .header_nav_mainmenu > a {
    justify-content: flex-start;
  }

  #header .depth_01 .header_nav_mainmenu > a:not(:last-child) {
    border-bottom: 1px solid #eaeeef;
  }

  #header .depth_01 .header_nav_mainmenu > a::after {
    display: none;
  }
  #header .depth_02 {
    position: relative;
    visibility: visible;
    opacity: 1;
    border-right: none;
    display: none;
    transition: none;
  }

  #header .depth_01 .header_nav_mainmenu:hover .depth_02 {
    background-color: unset;
  }

  #header .header_nav_mainmenu:first-child .depth_02 {
    border-left: none;
  }

  #header .depth_02 li a {
    border-bottom: 1px solid #eaeeef;
  }

  #header .depth_02 li:last-child a:last-child {
    border-bottom: none;
  }

  #header .header_logo .menuopen {
    display: block;
  }

  /* section ================================= */

  #section > div {
    padding: 20px 0;
  }

  /* section - 1 - mainSlide ================================= */

  #section .mainSlide {
    height: 50vh;
  }

  /* section - 2 - introduction ================================= */

  #section .introduction {
    padding: 60px 0 0;
  }

  #section .introduction .textbox p {
    padding: 20px 36px;
  }

  #section .introduction .cardbox_01 {
    justify-content: space-evenly;
  }
  #section .introduction .cardbox_01 .iconbox {
    border: 0px solid #eaeeef;
    flex: none;
  }
  #section .introduction .cardbox_01 .iconbox a {
    flex-direction: column;
    font-size: 18px;
  }

  #section .introduction .cardbox_01 .iconbox img {
    width: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 0;
    margin-bottom: 8px;
  }

  #section .introduction .cardbox_02 > li {
    flex: 1 1 50%;
  }

  #section .introduction .cardbox_02 > li .textbox,
  #section .introduction .cardbox_02 .slick-dots {
    left: 36px;
  }

  #section .introduction .textbox p #section .introduction .cardbox_02 li,
  #section .introduction .cardbox_02 > li:nth-child(4) {
    flex: 1 1 50%;
  }
  #section .introduction .cardbox_02 > li:nth-child(5) {
    flex: 1 1 auto;
  }

  #section .introduction .cardbox_02 li img {
    display: flex;
    height: 50%;
    object-fit: cover;
  }

  #section .introduction .cardbox_02 .cardbox_02_slide_a img {
    height: 80%;
  }

  #section .introduction .cardbox_02 .slick-dots li {
    padding: 20px 0;
  }

  /* section - 3 - advertisingSlide ================================= */

  #section .advertisingSlide {
    padding: 0;
    border-top: 1px solid #eaeeef;
    border-bottom: 1px solid #eaeeef;
  }
  #section .advertisingSlide .imagebox {
    height: 50vw;
    align-items: end;
  }

  #section .advertisingSlide .imagebox img {
    max-height: 90%;
  }

  #section .advertisingSlide .textbox {
    padding-left: 36px;
  }

  #section .advertisingSlide .textbox h3 {
    font-size: 32px;
  }

  #section .advertisingSlide .textbox p {
    font-size: 16px;
    padding: 14px 0;
  }

  #section .advertisingSlide .slick-dots li {
    padding: 14px 0;
  }

  #section .advertisingSlide .slick-dots {
    left: 36px;
  }

  #section .advertisingSlide .advertisingSlide_bt {
    display: none;
  }

  /* section - 4 - community ================================= */

  #section .community {
    padding: 60px 0 0;
    background-image: none;
    background-color: whitesmoke;
    border-bottom: 1px solid #eaeeef;
  }

  #section .community .titlebox h2 {
    color: #2f2f2f;
  }

  #section .community .cardbox {
    flex-direction: column;
  }

  #section .community .cardbox > li > a {
    display: flex;
  }

  #section .community .cardbox > li > a:last-child {
    position: relative;
    flex-direction: column;
    min-height: 350px;
  }

  #section .community .cardbox li:nth-child(1) > a {
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }

  #section .community .cardbox li:nth-child(2),
  #section .community .cardbox li:nth-child(3) {
    margin-left: 0;
  }

  #section .community .cardbox li:nth-child(1) .imagebox {
    min-height: unset;

    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    padding: 36px;
  }

  #section .community .cardbox > li > a {
    border-bottom-right-radius: 0;
    box-shadow: none;
    background-color: unset;
  }

  #section .community .cardbox li:nth-child(1) .imagebox img,
  #section .community .cardbox li:nth-child(2) .imagebox img {
    width: 100%;
    object-fit: cover;
  }

  #section .community .cardbox li:nth-child(1) .imagebox img {
    object-position: right;
  }

  #section .community .cardbox li:nth-child(2) .imagebox {
    margin-bottom: 0;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    padding: 36px;
  }

  #section .community .cardbox > li:nth-child(even) > a {
    border-top: 1px solid #eaeeef;
    border-bottom: 1px solid #eaeeef;
  }
  #section .community .cardbox > li > a:hover {
    transform: rotateZ(0);
  }

  #section .community .cardbox li:nth-child(1) .textbox {
    flex-basis: 55%;
  }
  #section .community .cardbox li:nth-child(2) .textbox {
    width: 55%;
    min-height: 240px;
  }

  #section .community .cardbox li:nth-child(3) .textbox {
    width: 100%;
  }

  #section .community .cardbox li:nth-child(1) .imagebox,
  #section .community .cardbox li:nth-child(2) .imagebox {
    transition: all 0.5s;
  }

  /* section - 5 - information ================================= */

  #section .information .information_wrap {
    flex-direction: column;
  }
  #section .information .information_wrap > li {
    padding-right: 0;
  }
  #section .information .information_wrap > li:not(:last-child) {
    margin-right: 0;
  }

  #section .information .information_wrap > li > ul {
    padding: 36px;
  }

  #section .information .information_wrap > li:not(:last-child) {
    border-right: 0px solid #eaeeef;
  }

  /* section ================================= */
  .shortcuts {
    display: none;
  }

  .popupbox {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  /* 폰트사이즈 조정 */

  #section .introduction .cardbox_02 > li .textbox h3,
  #section .introduction .cardbox_02 .cardbox_02_slide_a .textbox h3,
  #section .advertisingSlide .textbox h3,
  #section .information h3 {
    font-size: 24px;
  }

  #section .mainSlide .textbox p,
  #section .introduction .textbox p,
  #section .introduction .cardbox_01 .iconbox a,
  #section .introduction .cardbox_02 > li:nth-child(1) .textbox p,
  #section .introduction .cardbox_02 > li .textbox p {
    font-size: 16px;
  }

  #section .introduction .cardbox_02 li,
  #section .introduction .cardbox_02 > li:nth-child(4) {
    flex: 1 1 100%;
  }

  #section .introduction .cardbox_02 li img {
    height: 70%;
  }

  #section .introduction .cardbox_02 .cardbox_02_slide_a img {
    height: 60%;
  }

  #section .community .cardbox li:nth-child(1) .imagebox,
  #section .community .cardbox li:nth-child(2) .imagebox {
    padding: 0;
  }
}
